<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="776cc1">  <td>21/02/15 00:53:59</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;AutomationTest.afterTest()[pri:0, instance:Web_Automation.AutomationTest@393671df]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1240232440</td>   <td></td> </tr>
<tr bgcolor="776cc1">  <td>21/02/15 00:53:31</td>   <td>-28378</td> <td>&nbsp;</td><td title="&gt;&gt;AutomationTest.beforeTest()[pri:0, instance:Web_Automation.AutomationTest@393671df]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1240232440</td>   <td></td> </tr>
<tr bgcolor="776cc1">  <td>21/02/15 00:53:50</td>   <td>-8782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutomationTest.searchProducts()[pri:0, instance:Web_Automation.AutomationTest@393671df]">searchProducts</td> 
  <td>main@1240232440</td>   <td></td> </tr>
</table>
